body{
    font-family:Arial, Helvetica, sans-serif;
    display: grid;
    flex-direction: column ;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;

}
.profil{
    background-color: antiquewhite;
    display: flex;
    align-items:center;
    position: relative;
    margin-bottom: 2%;
}
.white{
    background-color: antiquewhite;
    border: 1px;
    background-clip: border-box;
    padding-bottom:0px;
}
.education{
    background-color: lightgoldenrodyellow;
    border-color: antiquewhite;
    border-style:dashed;
    background-clip: border-box;
}
.aqua{
    background-color:aquamarine;
    border-color: antiquewhite;
    border-style:dashed;
    background-clip: border-box;
    margin-bottom: 2%;
}
.blue{
    background-color: lightblue;
    border-color: antiquewhite;
    border-style:dashed;
    background-clip: border-box;
    margin-bottom: 2%;
}
.grey{
    background-color: lightgrey;
}


